.label.tag_color {
    background: #999;
    color: #fefefe;
}

h1 a{
    color: #333;
}

footer {
    background-color: #eee;
    margin: 1em;
    padding: 1em;
}

.task_manager_table_row, .incomplete_tasks_table_row, .completed_tasks_table_row, .completed_tasks_table, .task_manager_table_row:nth-child(even), .incomplete_tasks_table_row:nth-child(even), .completed_tasks_table_row:nth-child(even) {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.task_manager_table_row_completed, .task_manager_table_row_completed:nth-child(even) {
    color: #777;
    font-style: italic;
    background-color: #ddd;
}
